.position_relative {
    position: relative;
}
.position_absolute {
    position: absolute;
}

.eye, .eye_slash {
    position: absolute !important;
    bottom: 7px;
    right: 3px;
}

@media screen and (max-width: 515px) {
    .sideimage {
      display: none;
    }
    .grid.center {
        display: flex;
        justify-content: center;
    }
    .col_12 {
        flex: auto;
        padding: 10px;
        height: fit-content;
    }
  
  }