/* @import './custom.scss'; */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  --primary: #093e9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #E5E5E5;
}

.navbar-light .navbar-nav .nav-link{
  color: #02122e;
}

.btn-primary {
  background: var(--primary);
  border: none;
}
.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}

.bold {
  font-weight: bold;

}
.lt-1 {
  letter-spacing: 1px;
}
.text-primary {
  color: var(--primary);
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}


.row>img {
  width: fit-content;
}


@media screen and (max-width: 850px) {
  .none2 {
    display: none;
  }
  
}
@media screen and (max-width: 755px) {
  .left {
    text-align: center;
  }
  
}
@media screen and (max-width: 500px) {
  .none {
    display: none;
  }
  
}